@{
        ViewData["Title"] = "Dishes Page";
}
@model List<Dish>

<div class="text-center">
    <div class="row">
        <p class="d-flex justify-content-around mb-4">
            <a href="/">Chefs</a> | 
            <span class="Text-muted">Dishes</span> | 
            <a href="/chefs/new">Add a Chef</a> | 
            <a href="/dishes/new">Add a Dish</a>
        </p>
    </div>
    <h1 class="Text-center">Yum! Check out our tasty dishes!</h1>
</div>
<hr/>
<table class="table table-striped gap-1 text-center">
    <thead class="bg-black text-white">
        <tr>
            <th>Name</th>
            <th>Chef</th>
            <th>Tastiness</th>
            <th>Calories</th>
        </tr>
    </thead>
    <tbody>
            @foreach(Dish dishes in Model)
            {
        <tr>
            <td>@dishes.DishName</td>
            <td>@dishes.Creator?.FirstName</td>
            <td>@dishes.Tastiness</td>
            <td>@dishes.Calories</td>
        </tr>
            }
    </tbody>
</table>