@{
        ViewData["Title"] = "Dishes Page";
}
<div class="d-flex justify-content-between">
    <p class=""><a href="">Chefs</a> | <a href="">Dishes</a> | <a href="">Add a Chef</a> | <span class="Text-muted">Add a Dish</span></p>
</div>
<h1 class="Text-center">Add a Dish</h1>
<hr/>