@model Category

        <form asp-action="CreateCategory" asp-controller="Category" method="post" class="card card-border-2 d-flex flex-column p-4">
            <div class="d-flex">
                <label asp-for="Name" class="form-label align-content-end  align-self-center w-25 p-2"></label>
                <input asp-for="Name" class="form-control justify-content-start align-self-center bg-light" />
                <span asp-validation-for="Name" class="text-danger font-weight-bold flex-fill"></span>
            </div>
            <div>
                <button type="Submit" class="btn btn-primary">Create</button>
            </div>
        </form>