@{
    ViewData["Title"] = "Home Page";
}
@model List<Dish>
<div class="text-center">
    <h1 class="display-4">Welcome to CRUDelicious</h1>
    <p>Home | <a href="dishes/new">Add a Dish</a></p>
</div>
<div class="text-muted">
    <p>Check out some recent dishes</p>
    <hr/>
        @foreach(Dish d in Model)
        {
            <p><a href="/dishes/@d.DishId">@d.Name</a> by @d.Chef</p>
        }
</div>
